{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [
                    "> 1%",
                    "last two versions"
                ]
            }
        }],
        "react"
    ]
}